[submodule "Web_Scraper_v1"]
	path = Web_Scraper_v1
	url = https://github.com/MatthewTLim/Web_Scraper_v1
[submodule "tech_job_api"]
	path = tech_job_api
	url = https://github.com/MatthewTLim/tech_job_api
